.tab{
   -fx-padding: 5;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.iconButton {
    -fx-background-color: none;
}

.toolbarButton {
    -fx-background-color: none;
}

.toolbarButton:hover, toolbarButton.focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-background-radius: 3, 2, 1, 4, 1;;
}

/******************* SEARCH FIELD ****************************/

.left-pill {
    -fx-background-radius: 3 0 0 3;
    -fx-background-insets: 0 0 -1 0, 0, 1 0 1 1, 2 0 2 2;
}

.right-pill {
    -fx-background-radius: 0 3 3 0;
    -fx-background-insets: 0 0 -1 0, 0, 1 1 1 0, 2 2 2 0;
    -fx-border-color: transparent;
}

.check-box.matched *.box {
  -fx-opacity: 0.5;
  -fx-background-color: gray;
}

.check-box.modified *.box {
  -fx-opacity: 0.5;
  -fx-background-color: goldenrod;
}

.check-box.created *.box {
  -fx-opacity: 0.5;
  -fx-background-color: green;
}

.check-box.deleted *.box {
  -fx-opacity: 0.5;
  -fx-background-color: red;
}