

.startButton {
    -fx-background-color: none;
}

.startButton:hover, startButton.focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, transparent, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-background-radius: 3, 2, 1, 4, 1;;
    -fx-focus-color: black;
    /*-fx-background-insets: -1.4, 0, 1, 2;*/
}